
{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "admin.dashboard" class="navbar-brand"}}BugBuster <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>{{/link-to}}

  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#link-to 'admin.dashboard'}}Bugs validés{{/link-to}}{{/nav.item}}
      {{#nav.item}}{{#link-to 'admin.validation-bug'}}Bugs non validés{{/link-to}}{{/nav.item}}
      {{#nav.item}}{{#link-to 'admin.machines'}}Machines{{/link-to}}{{/nav.item}}
      {{#nav.item}}<a {{action 'invalidateSession'}} ><span class="glyphicon glyphicon-log-in"></span> Déconnection</a>{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}