

{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    <div class="navbar-brand">
      BugBuster <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Rapport de bug
    </div>
  </div>
{{/bs-navbar}}