{{partial 'header_quidam'}}

<div class="row"><div class="col-sm-4 col-sm-offset-1"><h1> Machine: xx</h1><br></div></div>




<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>



  <div class="form-group">
    <label for="select_level" class="col-sm-2 control-label">Estimez l'urgence sur une échelle de 1 à 5.</label>
      <div class="col-sm-8 ">
        <select id ="select_level" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
      </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-8 ">
        <textarea id="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>
  </div>


  <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Photo du problème<br> (optionel)<br> <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-camera col-sm-4" aria-hidden="true"></span></button></label>
      <div class="col-sm-8 ">
        <div class="media">
        <div id="image" class="media-right">
          <img src="https://bx1.be/wp-content/uploads/2018/01/Manneken-douanier.jpg" class="media-object img-responsive">
        </div>
      </div>
      </div>
  </div>



  <div class="form-group">
    <div class="col-sm-offset-10 col-sm-2">
      <button type="submit" class="btn btn-default">Soumettre</button>
    </div>
  </div>
</form>
