{{partial 'header_quidam'}}

<div class="row"><div class="col-md-3 col-md-offset-1"><h1> Connection</h1><br></div></div>

<form>
  <div class="form-group">
    <label for="InputEmail">Email</label>
    <input type="email" class="form-control" id="InputEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="InputPassword">Mot de passe</label>
    <input type="password" class="form-control" id="InputPassword" placeholder="Mot de passe">
  </div>

  <button type="submit" class="btn btn-default">Soumettre</button>
</form>
