<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

     <a class="navbar-brand">BugBuster <span class="glyphicon glyphicon-alert" aria-hidden="true"></span></a>
     <a class="navbar-brand">Rapport de bug</a>
    </div>
  </div>
</nav>
