{{partial 'header_admin'}}
<div class="row"><div class="col-md-3 col-md-offset-1"><h1> Ordinateurs</h1></div></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-8">
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer les QR codes </button>
    </div>
  </div>
  <div class="row"><br></div>
</div>


<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table class="table table-bordered table-condensed table-body-center" >
    <thead>
    <tr>
    <th>Nom</th>
    <th>IP</th>
    <th>MAC address</th>
    <th>Commentaire</th>
    <th>Actif</th>
    <th>Local</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Nom">Aucun droit</td>
        <td data-title="IP">---</td>
        <td data-title="MAC address">0</td>
        <td data-title="Commentaire">000</td>
        <td data-title="Actif">000</td>
        <td data-title="Local">000</td>
      </tr>
    </tbody>
  </table>
</div>
