{{partial 'header_admin'}}
<div class="row"><div class="col-md-3 col-md-offset-1"><h1>Bugs à valider</h1></div></div>



<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table class="table table-bordered table-condensed table-body-center" >
    <thead>
    <tr>
    <th>Prioritée</th>
    <th>Nom de la machine</th>
    <th>Email</th>
    <th>Date</th>
    <th>Description</th>
    <th>Photo</th>
    <th>Valider</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Prioritée">Aucun droit</td>
        <td data-title="Nom de la machine">---</td>
        <td data-title="Email">0</td>
        <td data-title="Date">000</td>
        <td data-title="Description">000</td>
        <td data-title="Photo">000</td>
        <td data-title="Vérifier"><button type="button" class="btn btn-success">Valider</button>
          <button type="button" class="btn btn-warning">Rejeter</button></td>
      </tr>
    </tbody>
  </table>
</div>
