{{outlet}} {{header-quidam}}

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h1> Machine: {{machine.id}}</h1>
    <br>
  </div>
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      {{!--
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">--}} {{ input value=emailQuidam type="email" class="form-control" id="inputEmail" placeholder="Email" }}
      <br>
      <p class="custom_error" id="emailErrorMessage"></p>
    </div>
  </div>


  <div class="form-group">
    <label for="select_level" class="col-sm-2 control-label">Estimez l'urgence sur une échelle de 1 à 5. (optionel)</label>
    <div class="col-sm-8 ">
      <select id="select_level" class="form-control" onchange={{action "setPriority" value="target.value" }}>
        <option value="" disabled selected>Niveau de priorité estimé</option>
        <option value="1">1 Le bug ne m'empêche pas de travailler.</option>
        <option value="2">2 </option>
        <option value="3">3 Le bug occasione une gêne x.</option>
        <option value="4">4 Le bug occasione une gêne y</option>
        <option value="5">5 aille aille</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8 ">
      {{ textarea value=descriptionMessage id="description" placeholder="Description" class="form-control" rows="3"}}
      <br>
      <p class="custom_error" id="descriptionErrorMessage"></p>
    </div>
  </div>
  <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Photo du problème
      <br> (optionel)
      <br>
    </label>
    <input id="picture-input" onchange={{action "uploadPicture"}} type="file" name="picture">

  </div>

  <div class="row" style="display: none;" id="pogress-bar">
    <div class="col-md-offset-2 col-md-8">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
          style="width: 0%">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>

  {{#if pictureURL }}
  <div class="form-group">
    <label for="image" class="col-sm-2 control-label">Photo envoyée :
      <br>
      <br>
    </label>
    <div class="col-sm-8 ">
      <div class="media">
        <div id="image" class="media-right">
          <img src="{{rootURL}}/assets/images/{{pictureURLComputed}}" class="media-object img-responsive">
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="form-group">
    <div class="col-sm-offset-10 col-sm-2">
      <button {{action "submitReport"}} disabled={{isDisabled}} type="submit" class="btn btn-default">Soumettre</button>
    </div>
  </div>
</form>
