body {
 margin-bottom: 2em

}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: rgb(92, 92, 92);
  color: rgb(204, 204, 204);
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2em;
  width: 100%;
  overflow:hidden;
}

.custom_error {
  color : red;
}

.custom_footer{
  background-color: black;
  color : white;
}

@media (max-width: 500px) {
  .responsive-table-line td:before { content: attr(data-title); }
  .responsive-table-line table,
  .responsive-table-line thead,
  .responsive-table-line tbody,
  .responsive-table-line th,
  .responsive-table-line td,
  .responsive-table-line tr {
  display: block;
  }

  .responsive-table-line thead tr {
  display:none;
  }
  .responsive-table-line td {
  position: relative;
  border: 0px solid transparent;
  padding-left: 50% !important;
  white-space: normal;
  text-align:right;
  }

  .responsive-table-line td:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45%;
  padding-right: 15px;
  height:100%;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow:hidden !important;
  text-align:left;
  background-color:#f8f8f8;
  padding:2px;
  }
}
