{{outlet}}

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h1 id="title_admin">Page admin</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h1>Les bugs</h1>
  </div>
</div>


<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table >
    {{#data-table id="bug-todo-table" class="table table-bordered table-condensed table-body-center"}}
    <thead>
      <tr>
        <th width="100">Prioritée</th>
        <th>Nom de la machine</th>
        <th>Email</th>
        <th width="100px">Date</th>
        <th width="100px">Description</th>
        <th width="100px">Photo</th>
        <th width="100px">Etat</th>
        <th width="100px">Prendre</th>
      </tr>
    </thead>
    <tbody>

      {{#each model as |report|}}
      <tr>
        <!-- <td>{{ report.priority }}</td> -->
        <td>
          <select name="priority" id="select_level" class="form-control" onchange={{action "setPriority" report }}>
            {{#if (eq report.priority "0")}}
            <option value="0" disabled selected="selected">Niveau de priorité estimé</option>{{else}}
            <option value="0" disabled>Niveau de priorité estimé</option>{{/if}} {{#if (eq report.priority "1")}}
            <option value="1" selected="selected">1 Le bug ne m'empêche pas de travailler.</option>{{else}}
            <option value="1">1 Le bug ne m'empêche pas de travailler.</option>{{/if}} {{#if (eq report.priority "2")}}
            <option value="2" selected="selected">2 </option>{{else}}
            <option value="2">2 </option>{{/if}} {{#if (eq report.priority "3")}}
            <option value="3" selected="selected">3 Le bug occasione une gêne x.</option>{{else}}
            <option value="3">3 Le bug occasione une gêne x.</option>{{/if}} {{#if (eq report.priority "4")}}
            <option value="4" selected="selected">4 Le bug occasione une gêne y</option>{{else}}
            <option value="4">4 Le bug occasione une gêne y</option>{{/if}} {{#if (eq report.priority "5")}}
            <option value="5" selected="selected">
              5 aille aille</option>{{else}}
            <option value="5"> 5 aille aille</option>{{/if}}
          </select>
        </td>
        <td>{{ report.machineName }}</td>
        <td>{{ report.emailQuidam }}</td>
        <td>{{ report.date }}</td>
        <td>{{ report.description }}</td>
        <td>
          {{#if report.picture }}
          <div id="image" class="media-right">
            {{!--
            <img src="https://bx1.be/wp-content/uploads/2018/01/Manneken-douanier.jpg" class="media-object img-responsive"> --}}
            <img src="{{rootURL}}/assets/images/{{report.picture}}" class="media-object img-responsive">
          </div>
          {{/if}}
        </td>
        <td>
          <select name="state" id="select_state" class="form-control" onchange={{action "setState" report }}>
            {{#if (eq report.state "submit")}}
            <option value="submit" disabled selected>Submit</option>{{else}}
            <option value="submit" disabled>Submit</option>{{/if}} {{#if (eq report.state "validate")}}
            <option value="validate" selected="selected">Validate</option>{{else}}
            <option value="validate">Validate</option>{{/if}} {{#if (eq report.state "in_process")}}
            <option value="in_process" selected="selected">In_Process</option>{{else}}
            <option value="in_process">In_Process</option>{{/if}} {{#if (eq report.state "resolved")}}
            <option value="resolved" selcted="selected">Resolved</option>{{else}}
            <option value="resolved">Resolved</option>{{/if}} {{#if (eq report.state "unresolved")}}
            <option value="unresolved" selected="selected">Unresolved</option>{{else}}
            <option value="unresolved">Unresolved</option>{{/if}}
          </select>
        </td>
        <td data-title="Prendre">
          <button type="button" class="btn btn-success" disabled>Prendre</button>
        </td>
      </tr>
      {{/each}}

    </tbody>
    {{/data-table}}
  </table>
</div>


{{!--
<h1>DEPLACER CES FONCTIONS VERS MACHINES</h1>
<button {{action "generateQrCodes"}}>Générer les QRCodes des machines</button>
<div id="qrcodes">
  {{#each machines as |machine|}}
  <div class="machine-qrcode" data-info={{machine.name}}>
    <p>Machine: {{machine.name}}</p>
    {{qr-code data=(concat 'http://localhost:4200/report/submit/' machine.name) light="#ffffff" dark="#330000" data-info=machine.name
    }} {{item.content}}
  </div>
  {{/each}}
  <button {{action "downloadPdf"}}>Télécharger le PDF</button>
</div> --}}