<div class="row"><div class="col-md-5 col-md-offset-1"><h1> Importer un Fichier</h1></div></div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <input
      multiple="true"
      onchange={{action "upload"}}
      accept='text/plain'
      type="file"
    />
  </div>
</div>
<div class="row"><div class="col-md-3 col-md-offset-1"><h1> Ordinateurs</h1></div></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-8">
      <button id="print_qr" type="button" class="btn btn-primary" {{action (mut modal1) true}} {{action "generateQrCodes"}} ><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer les QR codes </button>
    </div>
  </div>
  <div class="row"><br></div>
</div>


<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table>
    {{#data-table class="table table-bordered table-condensed table-body-center"}}
    <thead>
    <tr>
    <th>Nom</th>
    <th>IP</th>
    <th>MAC address</th>
    <th>Commentaire</th>
    <th>Actif</th>
    <th>Local</th>
    </tr>
    </thead>
    <tbody id="table_machines">
      {{#each model as |item|}}
      <tr>
        <td data-title="Nom">{{item.name}}</td>
        <td data-title="IP">{{item.ip }}</td>
        <td data-title="MAC address">{{item.macAddress}}</td>
        <td data-title="Commentaire">{{item.comment}}</td>
        <td data-title="Actif">{{item.actif}}</td>
        <td data-title="Local">{{item.local}}</td>
      </tr>
      {{/each}}
    </tbody>
    {{/data-table}}
  </table>
</div>







{{#bs-modal-simple open=modal1 title="Impression" size="md" onHidden=(action (mut modal1) false)}}
      <button id = "print_btn" type="button" class="btn btn-primary  col-md-12" {{action "downloadPdf"}}><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Télécharger le PDF </button>
      {{#each machines as |machine|}}
      <div class="machine-qrcode col-md-4" data-info={{machine.name}}>
        <p>Machine: {{machine.name}}</p>
        {{qr-code data=(concat 'http://localhost:4200/report/submit/' machine.name) light="#ffffff" dark="#330000" data-info=machine.name }} {{item.content}}
      </div>
      {{/each}}
{{/bs-modal-simple}}
