{{outlet}}
<div class="row"><div class="col-md-5 col-md-offset-1"><h1>Bugs a valider</h1></div></div>

<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table  >
    {{#data-table class="table table-bordered table-condensed table-body-center"}}
    <thead>
      <tr>
        <th>Email</th>
        <th>Nom de la machine</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Date</th>
        <th>Prioritée</th>
        <th>Verification</th>
      </tr>
    </thead>
    <tbody>
        {{#each model as |item|}}
            <tr>
                <td data-title="Email">{{item.emailQuidam}}</td>
                <td data-title="Nom de la machine">{{item.machineName}}</td>
                <td data-title="Description">{{item.description}}</td>
                <td>
                <!--non fonctionnel-->
                {{#if report.picture }}
                <div id="image" class="media-right">
                  {{!--
                  <img src="https://bx1.be/wp-content/uploads/2018/01/Manneken-douanier.jpg" class="media-object img-responsive"> --}}
                  <img src="{{rootURL}}/assets/images/{{item.picture}}" class="media-object img-responsive">
                </div>
                {{/if}}
                </td>
                <td data-title="Date">{{item.date}}</td>
                <td data-title="Prioritée">{{item.priority}}</td>
                <td data-title="Verification"><button type="button" {{action "validate" item}} class="btn btn-success">V</button> <button type="button" {{action "denie" item}} class="btn btn-danger">X</button></td>
            </tr>
        {{/each}}
    </tbody>
    {{/data-table}}
  </table>
</div>
