{{header-admin}}
{{outlet}}
{{!-- <h1>Page admin</h1>

<div class="row"><div class="col-md-3 col-md-offset-1"><h1>Vos bugs à résoudre</h1></div></div>

<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table class="table table-bordered table-condensed table-body-center" >
    <thead>
      <tr>
        <th>Prioritée</th>
        <th>Nom de la machine</th>
        <th>Email</th>
        <th>Date</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Prioritée">Aucun droit</td>
        <td data-title="Nom de la machine">---</td>
        <td data-title="Email">0</td>
        <td data-title="Date">000</td>
        <td data-title="Description">000</td>
        <td data-title="Photo">000</td>
        <td data-title="Etat">000</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row"><div class="col-md-3 col-md-offset-1"><h1>Les bugs</h1></div></div>

<div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table class="table table-bordered table-condensed table-body-center" >
    <thead>
      <tr>
        <th>Prioritée</th>
        <th>Nom de la machine</th>
        <th>Email</th>
        <th>Date</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Responsable</th>
        <th>Prendre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Prioritée">Aucun droit</td>
        <td data-title="Nom de la machine">---</td>
        <td data-title="Email">0</td>
        <td data-title="Date">000</td>
        <td data-title="Description">000</td>
        <td data-title="Photo">000</td>
        <td data-title="Responsable">000</td>
        <td data-title="Prendre"><button type="button" class="btn btn-success">Prendre</button></td>
      </tr>
    </tbody>
  </table>
</div>

<h1>DEPLACER CES FONCTIONS VERS MACHINES</h1>
<button {{action "generateQrCodes"}}>Générer les QRCodes des machines</button>
<div id="qrcodes">
  {{#each machines as |machine|}}
  <div class="machine-qrcode" data-info={{machine.name}}>
    <p>Machine: {{machine.name}}</p>
    {{qr-code data=(concat 'http://localhost:4200/report/submit/' machine.name) light="#ffffff" dark="#330000" data-info=machine.name }} {{item.content}}
  </div>
  {{/each}}
  <button {{action "downloadPdf"}}>Télécharger le PDF</button>
</div> --}}

