{{outlet}}

{{!--#each model as |item|}}
	{{item.content}}
{{/each--}}
<footer >
    <span>Réalisé par Benjamin Bergé , Jean Bobofils, Valentin Delwart, Thomas Van Gelder, Jolan Whatelet.</span>
</footer>