{{header-quidam}}

<div class="row"><div class="col-md-3 col-md-offset-1"><h1> Connection</h1><br></div></div>

<form>
  <div class="row">
  <div class="form-group col-sm-offset-1 col-sm-4">
    <label for="InputEmail">Email</label>
    {{ input value=username type="email" class="form-control" id="InputEmail" placeholder="Email" }}
  </div>
  </div>

  <div class="row">
  <div class="form-group col-sm-offset-1 col-sm-4">
    <label for="InputPassword">Mot de passe</label>
    {{ input value=password type="password" class="form-control" id="InputPassword" placeholder="Mot de passe"}}
  </div>
  </div>


  <button id="login_btn" class="form-group col-sm-offset-1" {{action "authenticate"}} disabled={{isDisabled}}  type="submit" class="btn btn-default">Soumettre</button>
</form>
